---
layout: base.njk
title: Providers
---

<h1>{{ title }}</h1>

<div class="container">
    <div class="row">
      {% for provider in providers %}
        <div class="col-md-4">
          <h3>{{ provider.firstname }} {{ provider.lastname }}</h3>
          <p>{{ provider.providertype }}</p>
          <a href="/provider/{{ provider.id }}">View Details</a>
        </div>
      {% endfor %}
    </div>

  </div>
